/* Reset default margin and padding */
body, header, main, footer {
  margin: 0;
  padding: 0;
}

/* Apply some basic styles */
body {
   font-family: 'Hylia-Serif', serif;
  background-color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

h1 {
  font-size: 24px;
}

main {
  padding: 20px;
}

footer {
  background-color: #fff;
  color: #fff;
  padding: 10px;
  text-align: center;
}

footer p {
  font-size: 12px;
}

/* Add more styles to customize your website */
